body{
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}

.stopwatch{
    margin:0;
    position: absolute;
    top:85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.move{
        margin:0;
        position: absolute;
        top:95%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
}